<% include partials/header.ejs %>



<div class="container">


	<h4>Δρομολόγια που διέρχονται απο την στάση : <b> <%= stasi %> </b></h4>
	<br>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ΛΕΟΦΩΡΕΙΟ</th>
					<th scope="col">ΑΦΕΤΗΡΙΑ</th>
					<th scope="col">ΤΕΡΜΑ</th>
					<th scope="col">ΕΠΟΜΕΝΟ ΣΕ</th>
				</tr>
			</thead>
			
			
			<tbody style="background-color: #F5F5DC;">
				<% dromologia.forEach(function(drom){ %>
					<tr>
						<td><%= drom.leoforeio %></td>
						<td><%= drom.afetiria %></td>
						<td><%= drom.terma %></td>
						<td><%= drom.epomeno %></td>
					</tr>
				 <% })  %>
			</tbody>
		</table>
		<a href="javascript:history.back()">Επιστροφή στην αναζήτηση στάσης</a>
		<br>
		<br>
		<br>
		
		
		<div id="mapdiv" style="height:400px;"></div>
		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		
		<script>
			map = new OpenLayers.Map("mapdiv");
			map.addLayer(new OpenLayers.Layer.OSM());
			
				var lonLat = new OpenLayers.LonLat( <%= lng %>,<%= lat %>)
					.transform(
						new OpenLayers.Projection("EPSG:4326"),
						map.getProjectionObject()
					);
					  
			var zoom=15;
			var markers = new OpenLayers.Layer.Markers( "Markers" );
			map.addLayer(markers);
			markers.addMarker(new OpenLayers.Marker(lonLat));
			map.setCenter (lonLat, zoom);
		</script>
		
</div>


<br><br><br>

<% include partials/footer.ejs %>