<% include partials/header.ejs %>


<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2 style="text-align: center; color: black;"> Ο Λογαριασμός μου </h2>
			<br>
			<br>
					
					
			<div class="row">
				<div class="col">
				
				
					<h4><b>Όνομα Χρήστη:</b>  <%= currentUser.username %> </h4>
					<h4><b>Όνομα:</b>  <%= currentUser.firstName %> </h4>
					<h4><b>Επώνυμο:</b>  <%= currentUser.lastName %> </h4>
					<h4><b>Διεύθυνση:</b>  <%= currentUser.address %> </h4>
					<h4><b>Ταχυδρομικός Κώδικας:</b>  <%= currentUser.postal_code %> </h4>
					
					<h4><b>Email:</b>  <%= currentUser.email %> </h4>
					<h4><b>Τηλέφωνο:</b>  <%= currentUser.phone %> </h4>
					<h4><b>Κατηγορία:</b>  <%= currentUser.AFM %> </h4>
					<br>
					<a class="btn btn-sm btn-primary btn-danger back" href="/account">Επεξεργασία στοιχείων</a>
					
					
					<br>
					<br><br>
					<br><br>
					
					<a href="javascript:history.back()">Πίσω</a>
					
				</div>
				
				<div class="col">
					<img height="300" width="300" src= "<%= currentUser.image %>" align="right">
				</div>
					
			</div>
		</div>
	</div>
</div>


<% include partials/footer.ejs %>